{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bazarhome/css/login.css' %}">
    <title>Login - Customer</title>
</head>
<body>
    <section class="login">


        <div id="musteri" class="askforlogin">
            <a href="{% url 'login' %}" class="goback"> Geri </a>
            <div class="loginbox">
                {% if message %}
                <div style="background-color: red;color:#fff;padding:10px;margin-bottom: 15px">{{message}}</div>
                {% endif %}
                <form action="{% url 'customerlogin' %}" method="POST">
                    {% csrf_token %}
                    <input placeholder="Email" type="email" name="email" class="input"> 
                    <input placeholder="Şifrə" type="password" name="password" class="input">
                    <button class="loginbutton"> Login </button>
                    <a href="register.html" class="createacc"> Hesabın yoxdur? Hesab yarat</a>
                </form>
                

            </div>
        </div>



    </section>

    

</body>
</html>

