{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bazarhome/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <section class="login">

        <div id="sual" class="askforlogin">
            <div class="box">
                <p class="logintext">Hesabına daxil ol</p>
                <p class="logintypes">Hesabının növünü seç və başla</p>
                <a href="{% url 'customerlogin' %}" class="customertype">  Mən müştəriyəm </a>
                <a href="{% url 'adminlogin' %}" class="admintype">  Mən adminstratoram </a>
            </div>
        </div>




    </section>



    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>